In [166]:
import pandas as pd
import numpy as np
from functools import reduce
import seaborn as sns
import matplotlib.pylab as plt

# exploring dataframe
pd.read_csv(r'C:\Users\Len\Documents\GitHub\solo_502\course-project-solo_502\data\raw\ClimateData_UBCO.csv')

,Lat,long,elev,period,MAT,MWMT,MCMT,TD,MAP,MSP,...,RH(03),RH(04),RH(05),RH(06),RH(07),RH(08),RH(09),RH(10),RH(11),RH(12)
0,49.939,-119.396,446,year_1901,8.7,21.3,-3.8,25.1,293,139,...,65,58,56,59,53,49,63,59,75,77
1,49.939,-119.396,446,year_1902,8.0,18.4,-3.0,21.4,386,194,...,68,59,62,55,55,52,55,59,75,77
2,49.939,-119.396,446,year_1903,7.5,18.3,-2.1,20.4,399,248,...,60,59,57,56,59,63,68,64,74,74
3,49.939,-119.396,446,year_1904,8.6,19.9,-2.1,22.0,297,86,...,63,57,55,54,54,49,53,64,74,81
4,49.939,-119.396,446,year_1905,8.3,20.7,-2.1,22.8,300,176,...,67,55,58,58,52,54,64,67,74,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,49.939,-119.396,446,year_2015,10.9,22.5,0.0,22.5,332,120,...,69,61,57,59,60,61,63,70,81,83
115,49.939,-119.396,446,year_2016,10.4,21.5,-4.3,25.8,410,175,...,70,59,61,61,64,59,65,75,83,85
116,49.939,-119.396,446,year_2017,9.4,23.1,-4.0,27.1,365,99,...,75,69,60,60,56,57,62,69,84,80
117,49.939,-119.396,446,year_2018,9.6,22.1,0.7,21.4,451,152,...,83,64,58,61,58,61,67,70,83,89
118,49.939,-119.396,446,year_2019,8.9,20.9,0.2,20.6,353,195,...,59,63,58,60,63,60,70,69,80,85

In [177]:
# method chaining and creating a function for my datasets of the same format
def load_and_process(path_to_cvs_file):
    
    # load data and select variables of interest
    dataframe = (
                pd.read_csv(path_to_cvs_file)
                .iloc[:,83:251]
    )
    
    # Create dataframe with year label for each month
    annual = np.arange(1901, 2020, 1).repeat(12)     
    annual2 = np.vstack(annual)
    years = pd.DataFrame(data = annual2)
    
    # Transpose and then melt monthly observations in Dataframe to get 
    # individual variables in separate columns and the months as observations instead of variables
    monthly_data = [years]
    for i in range(14):
        monthly_data.append(dataframe.iloc[:,i*12:(i+1)*12].T.melt())
    
    # Cleaning dataframe
    monthly_data = (
                    pd.concat(monthly_data, axis = 1)
                    .drop(columns = 'variable')
    )
    
    # Labeling columns (variables)
    monthly_data.columns = ['Period','Max Temp', 'Min Temp', 'Ave Temp', 'Precipitation', 'Radiation', 'Days < 0Â°C', 'Days < 5Â°C', 
                            'Days < 18Â°C', 'Days > 18Â°C', 'Frost Free Days', 'Snowfall', 'Evaporation', 
                            'Moisture Deficit', 'Relative Humidity']
    
    return monthly_data

load_and_process(r'C:\Users\Len\Documents\GitHub\solo_502\course-project-solo_502\data\raw\ClimateData_UBCO.csv')

,Period,Max Temp,Min Temp,Ave Temp,Precipitation,Radiation,Days < 0Â°C,Days < 5Â°C,Days < 18Â°C,Days > 18Â°C,Frost Free Days,Snowfall,Evaporation,Moisture Deficit,Relative Humidity
0,1901,-0.3,-7.2,-3.8,26,-9999.0,146,2,676,0,2,15,0,0,72
1,1901,1.8,-6.5,-2.3,39,-9999.0,101,2,565,0,2,24,0,0,67
2,1901,10.2,-0.2,5.0,11,-9999.0,17,41,405,1,14,1,41,31,65
3,1901,14.6,1.4,8.0,20,-9999.0,4,100,301,2,19,1,72,52,58
4,1901,22.0,7.3,14.7,22,-9999.0,0,302,121,19,30,0,120,98,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,2019,27.9,13.9,20.9,22,-9999.0,0,492,11,102,31,0,123,102,60
1424,2019,19.4,9.7,14.6,83,-9999.0,0,288,119,16,29,1,62,0,70
1425,2019,11.3,1.9,6.6,24,-9999.0,5,83,355,1,20,1,31,7,69
1426,2019,6.4,0.6,3.5,19,-9999.0,22,28,436,0,16,2,13,0,80
1427,2019,2.1,-1.6,0.2,43,-9999.0,61,8,547,0,11,9,7,0,85

In [178]:
# Exploratory Data Analysis

df = load_and_process(r'C:\Users\Len\Documents\GitHub\solo_502\course-project-solo_502\data\raw\ClimateData_UBCO.csv')

df.shape
df.head(10)
df.columns

df.nunique(axis = 0)
df.describe().apply(lambda s: s.apply(lambda x: format (x, 'f')))

# seems like there is something wrong with the Radiation data (negative radiation) 
# and with the data for days < 18Â°C.

# data cleaning


# # Turns out that the Radiation values are weird. Will need to investigate.
# df['Radiation'].value_counts()

# # seems like the data assumes the Value **-9999.0** instead of **NaN** as null value. 
# df2 = df['Radiation']
# df3 = (
#       df2.replace(to_replace = None, value = 20)
# )
# df3

# Looking at it through a correlation matrix
# df.shape
# corr = df.corr()
# fig, ax = plt.subplots(figsize = (20,20))
# sns.heatmap(corr, xticklabels = corr.columns, yticklabels = corr.columns, 
#             annot = True, cmap = sns.diverging_palette(220, 20, as_cmap=True))

,Period,Max Temp,Min Temp,Ave Temp,Precipitation,Radiation,Days < 0Â°C,Days < 5Â°C,Days < 18Â°C,Days > 18Â°C,Frost Free Days,Snowfall,Evaporation,Moisture Deficit,Relative Humidity
count,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000
mean,1960.000000,13.986345,2.949650,8.467297,27.619748,-4699.245378,33.277311,178.826331,306.591036,18.948880,19.390756,4.454482,63.316527,44.306022,64.390056
std,34.363162,10.008353,6.733483,8.319229,14.887443,4998.409792,58.784989,173.905154,228.609218,31.687101,10.801449,8.585203,53.433275,46.642021,8.919862
min,1901.000000,-12.900000,-21.300000,-17.100000,1.000000,-9999.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,47.000000
25%,1930.000000,4.700000,-2.300000,1.200000,17.000000,-9999.000000,0.000000,12.000000,87.000000,0.000000,9.000000,0.000000,12.000000,0.000000,57.000000
50%,1960.000000,14.300000,2.700000,8.400000,25.000000,1.900000,3.000000,118.500000,292.000000,2.000000,22.500000,0.000000,54.000000,27.000000,62.000000
75%,1990.000000,22.900000,8.900000,15.825000,36.000000,12.400000,47.000000,328.250000,501.250000,23.000000,30.000000,5.000000,118.000000,82.000000,71.000000
max,2019.000000,32.300000,15.500000,23.500000,97.000000,25.000000,531.000000,572.000000,1085.000000,171.000000,31.000000,74.000000,178.000000,176.000000,89.000000