In [65]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\Len\Documents\GitHub\solo_502\course-project-solo_502\data\raw\ClimateData_UBCO.csv')
df

#selecting only variables of interest
big_white = df.iloc[:,[4,12,20,23,35,30,31,39,43,47,51,67,79]]
big_white

,MAT,DD<0,PAS,MAR,Tave_wt,Tmax_at,Tmin_wt,PPT_wt,Rad_wt,DD<0_wt,DD>5_wt,PAS_wt,RH_wt
0,8.7,352,48,-9999.0,-2.1,14.7,-5.7,85,-9999.0,317,10,44,72
1,8.0,367,53,-9999.0,-0.6,13.5,-3.7,79,-9999.0,291,14,39,76
2,7.5,464,77,-9999.0,-3.5,11.9,-7.2,74,-9999.0,337,12,38,70
3,8.6,357,80,-9999.0,-1.6,15.6,-5.0,103,-9999.0,289,12,54,73
4,8.3,372,22,-9999.0,-2.0,11.8,-5.4,52,-9999.0,318,10,20,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,10.9,177,23,-9999.0,1.8,13.5,-0.5,99,-9999.0,135,46,16,83
115,10.4,260,29,-9999.0,1.4,14.0,-0.8,118,-9999.0,241,32,22,83
116,9.4,378,55,-9999.0,-3.3,13.6,-6.0,82,-9999.0,331,8,49,77
117,9.6,271,82,-9999.0,-1.0,12.9,-3.1,137,-9999.0,208,22,52,83
118,8.9,363,37,-9999.0,-1.5,12.4,-4.0,70,-9999.0,308,17,31,80