In [100]:
import pandas as pd
import numpy as np
from functools import reduce


df = pd.read_csv(r'C:\Users\Len\Documents\GitHub\solo_502\course-project-solo_502\data\raw\ClimateData_UBCO.csv')


# selecting only variables of interest
big_white = df.iloc[:,[3, 4,12,20,23,35,30,31,39,43,47,51,67,79]]
big_white_year = df.iloc[:,3]
# big_white_year = 

# weather data by month
big_white_monthly = df.iloc[:,83:251]

# separating monthly variables, Transposing and melting puts all 12 monthly values in order and then in succession of years. 
big_white_tmax = big_white_monthly.iloc[:,0:12].T.melt()
big_white_tmin = big_white_monthly.iloc[:,12:24].T.melt()
big_white_tave = big_white_monthly.iloc[:,24:36].T.melt()
big_white_prec = big_white_monthly.iloc[:,36:48].T.melt()
big_white_rad = big_white_monthly.iloc[:,48:60].T.melt()
big_white_freeze = big_white_monthly.iloc[:,60:72].T.melt()
big_white_above5 = big_white_monthly.iloc[:,72:84].T.melt()
big_white_below18 = big_white_monthly.iloc[:,84:96].T.melt()
big_white_above18 = big_white_monthly.iloc[:,96:108].T.melt()
big_white_nffd = big_white_monthly.iloc[:,108:120].T.melt()
big_white_pas = big_white_monthly.iloc[:,120:132].T.melt()
big_white_eref = big_white_monthly.iloc[:,132:144].T.melt()
big_white_cmd = big_white_monthly.iloc[:,144:156].T.melt()
big_white_rh = big_white_monthly.iloc[:,156:168].T.melt()

# creating a list for the dataframe to merge them. Renaming columns. Unsure why some monthly variables measure yearly numbers though
monthly_dataframes = [big_white_tmax['value'], big_white_tmin['value'], big_white_tave['value'], big_white_prec['value'], 
                      big_white_rad['value'], big_white_freeze['value'], big_white_above5['value'], big_white_below18['value'], 
                      big_white_above18['value'], big_white_nffd['value'], big_white_pas['value'], big_white_eref['value'], 
                      big_white_cmd['value'], big_white_rh['value']]
kds = pd.concat(monthly_dataframes, join='outer', axis = 1)
kds.columns = ['Max Temp', 'Min Temp', 'Ave Temp', 'Precipitation', 'Radiation', 'Days < 0°C', 'Days < 5°C', 
            'Days < 18°C', 'Days > 18°C', 'Frost Free Days', 'Snowfall', 'Evaporation', 
            'Moisture Deficit', 'Relative Humidity']
kds

,Max Temp,Min Temp,Ave Temp,Precipitation,Radiation,Days < 0°C,Days < 5°C,Days < 18°C,Days > 18°C,Frost Free Days,Snowfall,Evaporation,Moisture Deficit,Relative Humidity
0,-0.3,-7.2,-3.8,26,-9999.0,146,2,676,0,2,15,0,0,72
1,1.8,-6.5,-2.3,39,-9999.0,101,2,565,0,2,24,0,0,67
2,10.2,-0.2,5.0,11,-9999.0,17,41,405,1,14,1,41,31,65
3,14.6,1.4,8.0,20,-9999.0,4,100,301,2,19,1,72,52,58
4,22.0,7.3,14.7,22,-9999.0,0,302,121,19,30,0,120,98,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,27.9,13.9,20.9,22,-9999.0,0,492,11,102,31,0,123,102,60
1424,19.4,9.7,14.6,83,-9999.0,0,288,119,16,29,1,62,0,70
1425,11.3,1.9,6.6,24,-9999.0,5,83,355,1,20,1,31,7,69
1426,6.4,0.6,3.5,19,-9999.0,22,28,436,0,16,2,13,0,80
1427,2.1,-1.6,0.2,43,-9999.0,61,8,547,0,11,9,7,0,85